@font-face {
  font-family: "GT-Walsheim-Pro";
  src: url("../fonts/GT_Walsheim_Pro/GT-Walsheim-Pro-Light.eot"),
       url("../fonts/GT_Walsheim_Pro/GT-Walsheim-Pro-Light.woff") format("woff"),
       url("../fonts/GT_Walsheim_Pro/GT-Walsheim-Pro-Light.ttf") format("truetype");
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: "GT-Walsheim-Pro";
  src: url("../fonts/GT_Walsheim_Pro/GT-Walsheim-Pro-Regular.eot"),
       url("../fonts/GT_Walsheim_Pro/GT-Walsheim-Pro-Regular.woff") format("woff"),
       url("../fonts/GT_Walsheim_Pro/GT-Walsheim-Pro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GT-Walsheim-Pro";
  src: url("../fonts/GT_Walsheim_Pro/GT-Walsheim-Pro-Bold.eot"),
       url("../fonts/GT_Walsheim_Pro/GT-Walsheim-Pro-Bold.woff") format("woff"),
       url("../fonts/GT_Walsheim_Pro/GT-Walsheim-Pro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

body {
  padding-top: 80px;
}

#global-nav .navbar-brand {
  display: table;
}

#global-nav .navbar-text {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 8px;
  margin-left: 8px;
  border-left: 2px solid #d8d8d8;
  font-weight: bold;
  color: #000000 !important;
  font-size: 1rem;
}

#global-nav .navbar-nav .nav-link {
  padding: 0;
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin: 0.5rem 1rem;
}

#global-nav .navbar-nav .nav-link.active {
  border-bottom: 1px solid #000000;
}



.heading {
  margin-top: 40px;
  margin-bottom: 24px;
}

.heading-title {
  margin-bottom: 0;
}

.heading-subtitle {
  margin-bottom: 0;
  color: #666666;
  font-size: 20px;
  margin-top: 8px;
}







.content {
  padding-top: 40px;
  padding-bottom: 40px;
}

/* @media (min-width: 576px) {
  .content {
    padding-top: 40px;
    padding-bottom: 40px;
  }
} */

@media (min-width: 768px) {
  .content {
    padding-top: 56px;
    padding-bottom: 56px;
  }
}

@media (min-width: 1024px) {
  .content {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

@media (min-width: 1440px) {
  .content {
    padding-top: 144px;
    padding-bottom: 144px;
  }
}

@media (min-width: 1680px) {
  .content {
    padding-top: 160px;
    padding-bottom: 160px;
  }
}










.content .heading {
  margin-top: 0;
  margin-bottom: 0;
}


footer {
  background-color: black;
  color: white;
  min-height: calc(100vh - 72px);
}

footer {
  padding-top: 40px;
  padding-bottom: 40px;
}

/* @media (min-width: 576px) {
  footer {
    padding-top: 40px;
    padding-bottom: 40px;
  }
} */

@media (min-width: 768px) {
  footer {
    padding-top: 56px;
    padding-bottom: 56px;
  }
}

@media (min-width: 1024px) {
  footer {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

@media (min-width: 1440px) {
  footer {
    padding-top: 144px;
    padding-bottom: 144px;
  }
}

@media (min-width: 1680px) {
  footer {
    padding-top: 160px;
    padding-bottom: 160px;
  }
}




footer .heading {
  /* padding-top: 160px; */
  /* margin: 0; */
  text-align: center;
}

footer .heading-title {
  margin-bottom: 40px;
}

.footer-nav {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.footer-nav .nav-link {
  padding-right: 0;
  padding-left: 0;
  color: #fff;
}

footer .copyright {
  padding-top: 80px;
  padding-bottom: 80px;
}

footer .copyright-text {
  text-align: center;
}






.list-column {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}





.card {
  border: 0;
  border-radius: 8px;
}


a.card {
  color: inherit;
  text-decoration: none;
}

.card-columns .card {
  border: 0;
}

.card-columns .card-body {
  padding-left: 0;
  padding-right: 0;
}

.card-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}


.card-img-wrapper {
  overflow: hidden;
}

.card-img {
  transition: transform .350s; /* Animation */
}

.card:hover .card-img {
  transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}


.card-stacked .card + .card {
  margin-top: 2rem;
}





.text-wrapper {
  align-self: center;
  max-width: 100%;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 40px;
}


@media (min-width: 576px) {
  .text-wrapper {
    padding-top: 56px;
    padding-bottom: 56px;
  }
}

@media (min-width: 768px) {
  .text-wrapper {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

@media (min-width: 1024px) {
  .text-wrapper {
    max-width: 448px;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 40px;
  }
}

@media (min-width: 1440px) {
  .text-wrapper {
    max-width: 492px;
    padding-right: 56px;
  }
}

@media (min-width: 1680px) {
  .text-wrapper {
    max-width: 608px;
    padding-right: 80px;
  }
}





.btn {
  font-size: 14px;
  line-height: 22px;
  font-weight: bold;
  text-transform: uppercase;
}


.cta {
  font-size: 24px;
  font-weight: bold;
  /* color: #000000; */
  color: inherit;
}


.cta-lg {
  font-size: 44px;
  /* font-size: calc(24px + (44 - 24) * ((100vw - 320px) / (1920 - 320))); */
}

a.cta {
  color: inherit;
}




