@font-face {
  font-family: "GT-Walsheim-Pro";
  src: url("../fonts/GT_Walsheim_Pro/GT-Walsheim-Pro-Light.eot"),
       url("../fonts/GT_Walsheim_Pro/GT-Walsheim-Pro-Light.woff") format("woff"),
       url("../fonts/GT_Walsheim_Pro/GT-Walsheim-Pro-Light.ttf") format("truetype");
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: "GT-Walsheim-Pro";
  src: url("../fonts/GT_Walsheim_Pro/GT-Walsheim-Pro-Regular.eot"),
       url("../fonts/GT_Walsheim_Pro/GT-Walsheim-Pro-Regular.woff") format("woff"),
       url("../fonts/GT_Walsheim_Pro/GT-Walsheim-Pro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GT-Walsheim-Pro";
  src: url("../fonts/GT_Walsheim_Pro/GT-Walsheim-Pro-Bold.eot"),
       url("../fonts/GT_Walsheim_Pro/GT-Walsheim-Pro-Bold.woff") format("woff"),
       url("../fonts/GT_Walsheim_Pro/GT-Walsheim-Pro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

h1, .h1 {
  font-size: calc(32px + (56 - 32) * ((100vw - 320px) / (1920 - 320)));
}

h2, .h2 {
  font-size: calc(24px + (44 - 24) * ((100vw - 320px) / (1920 - 320)));
}

h3, .h3 {
  font-size: calc(20px + (32 - 20) * ((100vw - 320px) / (1920 - 320)));
}


body {
  padding-top: 72px;
}

.navbar {
  /* padding-top: 24px; */
  /* padding-bottom: 24px; */
}

.navbar-brand {
  display: table;
}

.navbar-text {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 16px;
  margin-left: 16px;
  border-left: 2px solid #d8d8d8;
  font-weight: bold;
  color: #000000 !important;
  font-size: 1rem;
}



.navbar-nav .nav-link {
  /* padding: 0; */
  /* padding-left: 0 !important; */
  /* padding-right: 0 !important; */
  margin: 0.5rem 1rem;
}

.navbar-nav .nav-link.active {
  border-bottom: 1px solid #000000;
}


.btn {
  font-size: 14px;
  line-height: 22px;
  font-weight: bold;
  text-transform: uppercase;
}

.heading {
  margin-top: 40px;
  margin-bottom: 24px;
}

.heading-title {
  margin-bottom: 0;
}

.heading-subtitle {
  margin-bottom: 0;
  color: #666666;
  font-size: 18px;
  margin-top: 4px;
}


.content {
  padding-top: 160px;
  padding-bottom: 160px;
}

.content .heading {
  margin-top: 0;
  margin-bottom: 0;
}


footer {
  background-color: black;
  color: white;
  padding-top: 160px;
  padding-bottom: 160px;
  min-height: calc(100vh - 112px);
}

footer .header {
  margin-top: 0;
  margin-bottom: 160px;
}

footer .heading-title {
  margin-bottom: 80px;
}

.footer-nav {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.footer-nav .nav-link {
  padding-right: 0;
  padding-left: 0;
  color: #fff;
}








.list-column {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}





.card {
  border: 0;
  border-radius: 8px;
}


a.card {
  color: inherit;
  text-decoration: none;
}

.card-columns .card {
  border: 0;
}

.card-columns .card-body {
  padding-left: 0;
  padding-right: 0;
}

.card-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}


.card-img-wrapper {
  overflow: hidden;
}

.card-img {
  transition: transform .350s; /* Animation */
}

.card:hover .card-img {
  transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}


.card-stacked .card + .card {
  margin-top: 2rem;
}




.text-wrapper {
  align-self: center;
  max-width: 100%;
  margin: 0 auto;
}

@media (min-width: 576px) {
  .text-wrapper {
      max-width: 540px;
  }
}

@media (min-width: 768px) {
  .text-wrapper {
      max-width: 690px;
  }
}

@media (min-width: 992px) {
  .text-wrapper {
      max-width: 418px;
      padding-top: 0;
      padding-bottom: 0;
  }
}

@media (min-width: 1200px) {
  .text-wrapper {
      max-width: 492px;
  }
}

@media (min-width: 1440px) {
  .text-wrapper {
      max-width: 608px;
  }
}



.cta {
  font-size: 24px;
  font-weight: bold;
  color: #000000;
}

.cta-lg {
  font-size: 44px;
}

a.cta {
  color: inherit;
}

.header {
  /* margin-top: 80px; */
  margin-bottom: 40px;
}

.header-title {
  margin-bottom: 0;
}

.header-subtitle {
  font-size: 20px;
  margin-top: 16px;
  margin-bottom: 0;
}





