---
layout: base
---

<nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img class="navbar-image" src="/assets/img/logo/LOGO_DXC-Technology-Black-01.svg" alt="" height="32" />
      <span class="navbar-text">DTC Manila</span>
    </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Videos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
      </ul>
    </div>
    <a class="btn btn-primary btn-lg shadow-sm" href="">Engage With Us</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>

<main>
  {{ content }}
</main>

<footer>
  <div class="container">
    <div class="d-flex flex-column">
      <div class="heading">
        <h1 class="heading-title">Begin your digital transformation journey today.</h1>
        <a class="btn btn-primary btn-lg" href="">Engage With Us</a>
      </div>
      <div class="row">
        <div class="col-md-4">
          <h3>DTC Manila</h3>
        </div>
        <div class="col-md-2">
          <ul class="footer-nav flex-column">
            <li class="nav-item">
              <a class="nav-link" href="">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="">Projects</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="">Videos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="">About</a>
            </li>
          </ul>
        </div>
        <div class="col-md-2">
          <ul class="footer-nav flex-column">
            <li class="nav-item">
              <a class="nav-link" href="">Contact Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="">Request a Visit</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="">Find Us</a>
            </li>
          </ul>
        </div>
        <div class="col-md-2">
          <ul class="footer-nav flex-column">
            <li class="nav-item">
              <a class="nav-link" href="">Global DTC</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="">DTC Newcastle</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="">DTC Adelaide</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="">DTC NCE</a>
            </li>
          </ul>
        </div>
        <div class="col-md-2">
          <ul class="footer-nav flex-column">
            <li class="nav-item">
              <a class="nav-link" href="">What We Sell</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="">Workplace</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="text-muted text-center">
        Copyright © 2018 DTC Manila. All rights reserved.
      </div>
    </div>
  </div>
</footer>